<div class="page">

  <div class="card input-example example1">
    <input material-input type="text" ng-model="example1.firstName" material-floating-label="First Name">
    <input material-input type="text" ng-model="example1.lastName" material-floating-label="Last Name">
  </div>

  <div class="card input-example example2">
    <input material-input type="text" ng-model="example2.firstName" material-floating-label="First Name">
    <input material-input type="text" ng-model="example2.lastName" material-floating-label="Last Name">
  </div>

</div>
